html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #040710;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a{
  color:  aliceblue;
  text-decoration: none;
}

@media only creen and (max-widht:479px) {
  body{
    font-size: 14px;
  }
}